.issue{
    color: black;
    max-width: 60em;
    margin: auto;

    .title{
        font-weight: 900;
    }

    .go-to-repo-link{
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
        
        i{
            font-size: 40px;
            color: black;
        }
    }
}